@page "/"
@using Assign2.Data

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to Traveless</h1>
    <p class="lead">Navigate through the application to manage flights and reservations:</p>
    <div class="mt-4">
        <a href="/flights" class="btn btn-primary btn-lg m-2">Flights</a>
        <a href="/reservations" class="btn btn-secondary btn-lg m-2">Reservations</a>
        <a href="/weather" class="btn btn-info btn-lg m-2">Weather</a>
    </div>
</div>

